@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	position: relative;
}

.header {
	position: relative;
}

.shape-left {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 15rem;
	z-index: 1031;
}

@media (min-width: 768px) {
	.shape-left {
		max-width: 20rem;
	}
}

@media (min-width: 900px) {
	.shape-left {
		max-width: 25rem;
	}
}

.shape-animation {
	position: absolute;
	top: 70%;
	max-width: 10rem;
	left: 1rem;
	animation: rotate 5s infinite linear;
}

@media (min-width: 1200px) {
	.shape-animation {
		max-width: 25rem;
		left: 5rem;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.shape-animation-top {
	top: 15%;
	right: 55%;
	position: absolute;
	animation: rotate 5s infinite linear;
}

.nav__logo {
	max-width: 8rem;
}

.header__hero {
	min-height: 55vh;
	position: relative;
}

.header__content {
	z-index: 2;
}

.header__bg {
	background-image: url(../assets/images/banner-image.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 55vh;
	position: absolute;
	right: 0;
	top: 0;
}

.shape-bg {
	position: absolute;
	bottom: -5rem;
	left: -5rem;
	max-width: 15rem;
	z-index: -1;
}

@media (min-width: 768px) {
	.shape-bg {
		max-width: 20rem;
		bottom: -7rem;
		left: -7rem;
	}
}

@media (min-width: 900px) {
	.shape-bg {
		max-width: 25rem;
		bottom: -8rem;
		left: -8rem;
	}
}

main {
	margin-top: 20rem;
	overflow-x: hidden;
}

.img-car {
	object-fit: cover;
	object-position: bottom center;
	width: 100%;
	height: 45rem;
	aspect-ratio: 1/1;
}

.carousel-indicators button {
	width: 4rem !important;
	height: 0.5rem !important;
}

.footer {
	margin-top: 10rem;
}

.footer a:nth-of-type(1) {
	margin-top: 1rem;
}

.footer a {
	margin-bottom: 1rem;
	text-decoration: none;
}

.equipo {
	margin-top: 20rem;
}

.card-img {
	object-fit: cover;
	aspect-ratio: 1/1;
	height: 100%;
	width: 100%;
}

.servicios__card {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	background-color: #fff;
	margin-right: 1rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	line-height: 1.6;
	background-color: rgba(235, 54, 86, 0.03);
}

.testimoniales {
	margin-top: 10rem;
}

.testimoniales__bg {
	background-size: cover;
	background-image: url(../assets/images/testimonial-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	margin-bottom: 20rem;
}

.testimonial__shape {
	position: absolute;
	max-width: 40rem;
	left: -13rem;
	top: 20rem;
	z-index: -1;
}

.testimonial__shape-r {
	position: absolute;
	max-width: 40rem;
	right: -13rem;
	bottom: 20rem;
	z-index: -1;
}

.testimonial__card {
	height: 40vh;
	position: relative;
}

.testimonial__card::before {
	content: ' ';
	position: absolute;
	background-image: url(../assets/images/quote.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 5rem;
	height: 5rem;
	left: 0;
	top: 33%;
	opacity: 0.8;
}

.testimonial__img {
	object-fit: cover;
	height: 12rem;
	width: 12rem;
	border-radius: 50%;
}

.testimonial__card p {
	line-height: 1.6;
	text-align: center;
}
