@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	position: relative;
}

.header {
	position: relative;
}

.shape-left {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 15rem;
	z-index: 1031;
}

@media (min-width: 768px) {
	.shape-left {
		max-width: 20rem;
	}
}

@media (min-width: 900px) {
	.shape-left {
		max-width: 25rem;
	}
}

.shape-animation {
	position: absolute;
	top: 70%;
	max-width: 10rem;
	left: 1rem;
	animation: rotate 5s infinite linear;
}

@media (min-width: 1200px) {
	.shape-animation {
		max-width: 25rem;
		left: 5rem;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.shape-animation-top {
	top: 15%;
	right: 55%;
	position: absolute;
	animation: rotate 5s infinite linear;
}

.nav__logo {
	max-width: 8rem;
}

.header__hero {
	min-height: 55vh;
	position: relative;
}

.header__content {
	z-index: 2;
}

.header__bg {
	background-image: url(../assets/images/banner-image.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 55vh;
	position: absolute;
	right: 0;
	top: 0;
}

.shape-bg {
	position: absolute;
	bottom: -5rem;
	left: -5rem;
	max-width: 15rem;
	z-index: -1;
}

@media (min-width: 768px) {
	.shape-bg {
		max-width: 20rem;
		bottom: -7rem;
		left: -7rem;
	}
}

@media (min-width: 900px) {
	.shape-bg {
		max-width: 25rem;
		bottom: -8rem;
		left: -8rem;
	}
}

main {
	margin-top: 20rem;
}

.img-car {
	object-fit: cover;
	object-position: bottom center;
	width: 100%;
	height: 45rem;
	aspect-ratio: 1/1;
}

.carousel-indicators button {
	width: 4rem !important;
	height: 0.5rem !important;
}

.footer {
	margin-top: 10rem;
}

.footer a:nth-of-type(1) {
	margin-top: 1rem;
}

.footer a {
	margin-bottom: 1rem;
	text-decoration: none;
}

.nosotros {
}

.equipo {
	margin-top: 20rem;
}

.card-img {
	object-fit: cover;
	aspect-ratio: 1/1;
	height: 100%;
	width: 100%;
}
